include README.md
include MANIFEST.in
include CONTRIBUTING.md
include LICENSE
include *.py

recursive-include docs *
recursive-include src/donor_reporting_portal *

exclude .coverage
exclude .coveragerc
exclude .gitignore
exclude .dockerignore
exclude conftest.py
exclude tests
exclude ~*

exclude .circleci
exclude docs

exclude setup.in
exclude src/donor_reporting_portal/media

recursive-exclude src/donor_reporting_portal/media *
recursive-exclude .circleci *
recursive-exclude dist *
recursive-exclude docs *
recursive-exclude db *
recursive-exclude db_dumps *
