interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/contextinfo
  response:
    body:
      string: '{"d":{"GetContextWebInformation":{"__metadata":{"type":"SP.ContextWebInformation"},"FormDigestTimeoutSeconds":1800,"FormDigestValue":"0xB26900647BC5D84978DA1583B316DE0005DC190A1603B9B5A2136B10CBE3D6342917FF71A8495A7C7FA2F44186AB9920370126C7270E03A4888A12CB58E9881E,05
        Feb 2020 17:50:01 -0000","LibraryVersion":"16.0.19722.12023","SiteFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP","SupportedSchemaVersions":{"__metadata":{"type":"Collection(Edm.String)"},"results":["14.0.0.0","15.0.0.0"]},"WebFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Wed, 05 Feb 2020 17:50:01 GMT
      MS-CV:
      - nzKKX47wAKB+zAon29wdAA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.19708
      SPClientServiceRequestDuration:
      - '12'
      SPRequestGuid:
      - 5f8a329f-f08e-a000-7ecc-0a27dbdc1d00
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"ViewXml": "<View><Query><Where><Eq><FieldRef Name=\"DonorCode\"
      /><Value Type=\"Text\">G02701</Value></Eq></Where></Query></View>", "__metadata":
      {"type": "SP.CamlQuery"}}}'
    headers:
      X-RequestDigest:
      - 0xB26900647BC5D84978DA1583B316DE0005DC190A1603B9B5A2136B10CBE3D6342917FF71A8495A7C7FA2F44186AB9920370126C7270E03A4888A12CB58E9881E,05
        Feb 2020 17:50:01 -0000
      content-type:
      - application/json;odata=verbose
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/GetItems()
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"44041fc9-2ba0-49b8-81c0-4eaafb61e321","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)","etag":"\"3\"","type":"SP.Data.2019_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/FirstUniqueAncestorSecurableObject"}},"RoleAssignments":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/RoleAssignments"}},"AttachmentFiles":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/AttachmentFiles"}},"ContentType":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/ContentType"}},"GetDlpPolicyTip":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/GetDlpPolicyTip"}},"FieldValuesAsHtml":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/FieldValuesAsHtml"}},"FieldValuesAsText":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/FieldValuesAsText"}},"FieldValuesForEdit":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/FieldValuesForEdit"}},"File":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/File"}},"Folder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/Folder"}},"LikedByInformation":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/LikedByInformation"}},"ParentList":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/ParentList"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/Properties"}},"Versions":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(198)/Versions"}},"FileSystemObjectType":0,"Id":198,"ServerRedirectedEmbedUri":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={7caa766e-8ae8-4b14-811b-5eaab35df60b}&action=interactivepreview","ServerRedirectedEmbedUrl":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={7caa766e-8ae8-4b14-811b-5eaab35df60b}&action=interactivepreview","ContentTypeId":"0x010100C257960299C20D469572B6308B86308D006129575128C59F42A9554CC7A884B835004D0BA03A5BF97C45BAC5637C564A2425","ComplianceAssetId":null,"Title":"CertifiedDonorStatement_CSACC_SC170311_31122019.pdf","OData__dlc_DocId":"6DN2ZNMQ52YP-441505184-198","OData__dlc_DocIdUrl":{"__metadata":{"type":"SP.FieldUrlValue"},"Description":"6DN2ZNMQ52YP-441505184-198","Url":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/DocIdRedir.aspx?ID=6DN2ZNMQ52YP-441505184-198"},"DocumentType":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Donor
        reports","TermGuid":"8a295864-13e9-49e6-bf2c-b141ea31441a","WssId":108},"Topic":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[{"Label":"n/a","TermGuid":"5fa4f369-8a17-4c36-ad7f-f4892b75679a","WssId":109}]},"WrittenById":null,"WrittenByStringId":null,"ContentLanguage":"English","CategoryDescription":null,"OfficeDivision":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Div.
        of Finance \uff06 Admin Mgmt-456J","TermGuid":"5aaf3341-1695-4e9f-8424-49121c99845d","WssId":110},"ContentStatus":null,"ReportGroup":"Grant","ReportType":"Interim","ReportEndDate":"2019-12-31T00:00:00","ReportStatus":"New","RecipientOffice":"Fiji
        (Pacific Islands)","RecipientOfficeCode":"1430","ReportGeneratedBy":"aavacaflores","DonorDocument":"Certified
        Statement of Account","Donor":"Australia","DonorCode":"G02701","DonorReportCategory":"Donor
        Financial Certified","ReportMethod":"Auto","GrantNumber":"SC170311","GrantIssueYear":"2017","GrantExpiryDate":"2018-06-30T00:00:00","GrantFinancialClosureDate":"2019-06-30T00:00:00","ExternalReference":"72410/05","Recertified":"No","Theme":null,"GeographicScope":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ReportDueDate":null,"ReportRecipient":null,"ReportSender":null,"Retracted":null,"CopyLink":"","FrameworkAgreement":null,"OData__ip_UnifiedCompliancePolicyProperties":null,"ID":198,"Created":"2020-01-27T09:54:11","AuthorId":17,"Modified":"2020-01-27T09:54:13","EditorId":17,"OData__CopySource":null,"CheckoutUserId":null,"OData__UIVersionString":"2.0","GUID":"0e9f5cb8-5446-4f89-a3ea-5dfcf2e16443"},{"__metadata":{"id":"0963616a-c52f-465f-b37d-44bbbd804ec1","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(351)","etag":"\"3\"","type":"SP.Data.2019_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''a4d1245e-7077-4eb1-b8ba-7ca080f4e3eb'')/Items(351)/FirstUniqueAncestorSecurableOb[...]
