interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://unitst.sharepoint.com/sites/GLB-DRP
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - /_forms/default.aspx?ReturnUrl=%2fsites%2fGLB-DRP
      MS-CV:
      - oXK3SucAAHB3xmbsJ4m2WA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.25520
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '19'
      SPRequestGuid:
      - 4ab772a1-00e7-7000-77c6-66ec2789b658
      WWW-Authenticate:
      - Bearer realm="82d12bdf-773e-48d8-b40a-9828a98a5d71",client_id="00000003-0000-0ff1-ce00-000000000000",trusted_issuers="00000001-0000-0000-c000-000000000000@*,D3776938-3DBA-481F-A652-4BEDFCAB7CD8@*,https://sts.windows.net/*/,https://login.microsoftonline.com/*/v2.0,00000003-0000-0ff1-ce00-000000000000@90140122-8516-11e1-8eff-49304924019b",authorization_uri="https://login.microsoftonline.com/common/oauth2/authorize"
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,1051136,44,293,6995767,0,1051136,41
      X-SharePointHealthScore:
      - '0'
      x-ms-suspended-features:
      - features=""
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=client_credentials&scope=00000003-0000-0ff1-ce00-000000000000%2Funitst.sharepoint.com%4082d12bdf-773e-48d8-b40a-9828a98a5d71&resource=00000003-0000-0ff1-ce00-000000000000%2Funitst.sharepoint.com%4082d12bdf-773e-48d8-b40a-9828a98a5d71
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://accounts.accesscontrol.windows.net/82d12bdf-773e-48d8-b40a-9828a98a5d71/tokens/OAuth/2
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":"86399","not_before":"1735590626","expires_on":"1735677326","resource":"00000003-0000-0ff1-ce00-000000000000/unitst.sharepoint.com@82d12bdf-773e-48d8-b40a-9828a98a5d71","access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InoxcnNZSEhKOS04bWdndDRIc1p1OEJLa0JQdyIsImtpZCI6InoxcnNZSEhKOS04bWdndDRIc1p1OEJLa0JQdyJ9.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvdW5pdHN0LnNoYXJlcG9pbnQuY29tQDgyZDEyYmRmLTc3M2UtNDhkOC1iNDBhLTk4MjhhOThhNWQ3MSIsImlzcyI6IjAwMDAwMDAxLTAwMDAtMDAwMC1jMDAwLTAwMDAwMDAwMDAwMEA4MmQxMmJkZi03NzNlLTQ4ZDgtYjQwYS05ODI4YTk4YTVkNzEiLCJpYXQiOjE3MzU1OTA2MjYsIm5iZiI6MTczNTU5MDYyNiwiZXhwIjoxNzM1Njc3MzI2LCJpZGVudGl0eXByb3ZpZGVyIjoiMDAwMDAwMDEtMDAwMC0wMDAwLWMwMDAtMDAwMDAwMDAwMDAwQDgyZDEyYmRmLTc3M2UtNDhkOC1iNDBhLTk4MjhhOThhNWQ3MSIsIm5hbWVpZCI6IjEzYjExM2I3LWZiNTYtNDExOC1hZTRiLTY5NzJkMzk5YjlhM0A4MmQxMmJkZi03NzNlLTQ4ZDgtYjQwYS05ODI4YTk4YTVkNzEiLCJvaWQiOiIzZDhhNGI2MS0zZmMxLTRlYmQtYmVmNi0wMzgxZWFkZmU3OTciLCJzdWIiOiIzZDhhNGI2MS0zZmMxLTRlYmQtYmVmNi0wMzgxZWFkZmU3OTciLCJ0cnVzdGVkZm9yZGVsZWdhdGlvbiI6ImZhbHNlIn0.YUyFaNoK2cTxyB2lWlgDnRt9kFpKKoD4vDdWfGkE_8bjSsSe6MRHqdn7oAXzj8gjpcKL1TqKU_aP0QkH6YzKbe2ID2Nbd_tXVrfs5q1asvfzsxmhMSducKVZWJ1cXpAE0hv70KMfjjgHBlty4BoDd5xsnG8D9rAxP9CHIMZGKSVM8rxrX-qPxYrxeKdBskAro5QgO633RuusntwXVGCnrffMiqQwWdKad0mUgLW8E-4G1ZKZHH_fPXhOHvXyjUzAgpbZzOaFY12TeS9sKM5cgKO0-jv6daeRSo5fww2Z8tL4CtcBJVTtGxr_6RJ0s574Yga3o66Wa3TmaAzF1ZkQnw"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/contextInfo
  response:
    body:
      string: '{"d":{"GetContextWebInformation":{"__metadata":{"type":"SP.ContextWebInformation"},"FormDigestTimeoutSeconds":1800,"FormDigestValue":"0x039AE3946FF48482B722E98A342E606A1DDB6F402D25EB13CD9799874A1ABB31DDF52BDE1A5E938133ECA901E73A2DD843E94E433E43AEB107425D1ADC2E4339,30
        Dec 2024 20:35:26 -0000","LibraryVersion":"16.0.25520.12010","SiteFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP","SupportedSchemaVersions":{"__metadata":{"type":"Collection(Edm.String)"},"results":["14.0.0.0","15.0.0.0"]},"WebFullUrl":"https://unitst.sharepoint.com/sites/GLB-DRP"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Mon, 30 Dec 2024 20:35:26 GMT
      MS-CV:
      - oXK3SxPAAHB3xmeLjpvOPQ.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.25520
      SPClientServiceRequestDuration:
      - '16'
      SPRequestDuration:
      - '17'
      SPRequestGuid:
      - 4bb772a1-c013-7000-77c6-678b8e9bce3d
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,4204800,13292,604,12345241,0,4204800,41
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"DatesInUtc": true, "AllowIncrementalResults": true, "ViewXml":
      "<View Scope=\"RecursiveAll\"><Query></Query></View>", "__metadata": {"type":
      "SP.CamlQuery"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose
      X-RequestDigest:
      - 0x039AE3946FF48482B722E98A342E606A1DDB6F402D25EB13CD9799874A1ABB31DDF52BDE1A5E938133ECA901E73A2DD843E94E433E43AEB107425D1ADC2E4339,30
        Dec 2024 20:35:26 -0000
    method: POST
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/GetItems
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"078a5637-6cf7-46d7-b4c8-447ae3fc3a7b","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)","etag":"\"8\"","type":"SP.Data.2020_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FirstUniqueAncestorSecurableObject"}},"RoleAssignments":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/RoleAssignments"}},"AttachmentFiles":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/AttachmentFiles"}},"ContentType":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/ContentType"}},"GetDlpPolicyTip":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/GetDlpPolicyTip"}},"FieldValuesAsHtml":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesAsHtml"}},"FieldValuesAsText":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesAsText"}},"FieldValuesForEdit":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/FieldValuesForEdit"}},"File":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/File"}},"Folder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Folder"}},"LikedByInformation":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/LikedByInformation"}},"ParentList":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/ParentList"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Properties"}},"Versions":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1566)/Versions"}},"FileSystemObjectType":0,"Id":1566,"ServerRedirectedEmbedUri":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/Embed.aspx?UniqueId=e9f7967c-2891-43e5-886d-3e9245761813","ServerRedirectedEmbedUrl":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/Embed.aspx?UniqueId=e9f7967c-2891-43e5-886d-3e9245761813","ContentTypeId":"0x010100C257960299C20D469572B6308B86308D006129575128C59F42A9554CC7A884B83500823ADBD7D01E1844B5ED174347AA940A","ComplianceAssetId":null,"Title":"CertifiedDonorStatement_DSINV_SM150124_21082020.pdf","OData__dlc_DocId":"GLBDRP-225645036-1709","OData__dlc_DocIdUrl":{"__metadata":{"type":"SP.FieldUrlValue"},"Description":"GLBDRP-225645036-1709","Url":"https://unitst.sharepoint.com/sites/GLB-DRP/_layouts/15/DocIdRedir.aspx?ID=GLBDRP-225645036-1709"},"DocumentType":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Donor
        reports","TermGuid":"8a295864-13e9-49e6-bf2c-b141ea31441a","WssId":108},"Topic":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[{"Label":"n/a","TermGuid":"5fa4f369-8a17-4c36-ad7f-f4892b75679a","WssId":109}]},"WrittenById":null,"WrittenByStringId":null,"ContentLanguage":"English","CategoryDescription":null,"OfficeDivision":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Div.
        of Finance \uff06 Admin Mgmt-456J","TermGuid":"5aaf3341-1695-4e9f-8424-49121c99845d","WssId":110},"ContentStatus":null,"ReportGroup":"Grant","ReportType":"Interim","ReportEndDate":"2020-08-21T04:00:00Z","ReportStatus":"Certified
        by Comptroller","RecipientOffice":"Republic of Cameroon","RecipientOfficeCode":"0690","ReportGeneratedBy":"pbunga","DonorDocument":"Donor
        Statement Innovation","Donor":"European Commission / ECHO","DonorCode":"I49912","DonorReportCategory":"Donor
        Financial Certified","ReportMethod":"Auto","GrantNumber":"SM150124","GrantIssueYear":"2015","GrantExpiryDate":"2015-08-14T04:00:00Z","GrantFinancialClosureDate":"2016-08-14T04:00:00Z","ExternalReference":"ECHO/-CF/EDF/2014/01011","Recertified":"No","Theme":null,"GeographicScope":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ReportDueDate":null,"ReportRecipient":null,"ReportSender":null,"Retracted":null,"CopyLink":"","FrameworkAgreement":null,"OData__ip_UnifiedCompliancePolicyProperties":null,"MediaServiceLocation":null,"AwardType":null,"CriticalForLongTermRetention":null,"SystemDTAC":null,"MediaServiceImageTags":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"OData__ColorTag":null,"UNISONID":null,"ID":1566,"Created":"2020-08-21T17:48:22Z","AuthorId":17,"Modified":"2020-08-24T15:55:28Z","EditorId":17,"OData__CopySource":null,"CheckoutUserId":null,"OData__UIVersionString":"6.0","GUID":"791192ef-2f12-4ff1-996c-501453bbc933"},{"__metadata":{"id":"cdbfd895-2558-45fb-8e58-7b12f3da7f4d","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1633)","etag":"\"8\"","type":"SP.Data.2020_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f2b492c'')/Items(1633)/FirstUniqueAncestorSecurable[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2020%20Certified%20Reports')/items?$select=*,FileLeafRef&$filter=DonorCode%20eq%20'I49912'
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"ea8b606a-5bb7-4bfe-b871-a87d15307245","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''7839b954-49d8-4dbc-a2ff-2ef89f[...]
