interactions:
- request:
    body: "<s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
      http://www.w3.org/2005/08/addressing\" xmlns:u=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"\
      >\n  <s:Header>\n    <a:Action s:mustUnderstand=\"1\">http://schemas.xmlsoap.org/ws/2005/02/trust/RST/Issue</a:Action>\n\
      \    <a:ReplyTo>\n      <a:Address>http://www.w3.org/2005/08/addressing/anonymous</a:Address>\n\
      \    </a:ReplyTo>\n    <a:To s:mustUnderstand=\"1\">https://login.microsoftonline.com/extSTS.srf</a:To>\n\
      \    <o:Security s:mustUnderstand=\"1\" xmlns:o=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <o:UsernameToken>\n        <o:Username>ICTD-SCS-DRP@asantiagounicef.onmicrosoft.com</o:Username>\n\
      \        <o:Password>P@ssw0rd2</o:Password>\n      </o:UsernameToken>\n    </o:Security>\n\
      \  </s:Header>\n  <s:Body>\n    <t:RequestSecurityToken xmlns:t=\"http://schemas.xmlsoap.org/ws/2005/02/trust\"\
      >\n      <wsp:AppliesTo xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"\
      >\n        <a:EndpointReference>\n          <a:Address>https://asantiagounicef.sharepoint.com/sites/GLB-DRP</a:Address>\n\
      \        </a:EndpointReference>\n      </wsp:AppliesTo>\n      <wsp:PolicyReference\
      \ xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" URI=\"MBI\"></wsp:PolicyReference>\n\
      \      <t:KeyType>http://schemas.xmlsoap.org/ws/2005/05/identity/NoProofKey</t:KeyType>\n\
      \      <t:RequestType>http://schemas.xmlsoap.org/ws/2005/02/trust/Issue</t:RequestType>\n\
      \      <t:TokenType>urn:oasis:names:tc:SAML:1.0:assertion</t:TokenType>\n  \
      \  </t:RequestSecurityToken>\n  </s:Body>\n</s:Envelope>\n"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/extSTS.srf
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><S:Envelope xmlns:wsa="http://www.w3.org/2005/08/addressing"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><S:Header><wsa:Action S:mustUnderstand="1"
        wsu:Id="Action">http://schemas.xmlsoap.org/ws/2005/02/trust/RSTR/Issue</wsa:Action><wsa:To
        S:mustUnderstand="1" wsu:Id="To">http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:To><wsse:Security
        S:mustUnderstand="1"><wsu:Timestamp wsu:Id="TS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2019-12-10T22:30:40.0472166Z</wsu:Created><wsu:Expires>2019-12-10T22:35:40.0472166Z</wsu:Expires></wsu:Timestamp></wsse:Security></S:Header><S:Body
        xmlns:S="http://www.w3.org/2003/05/soap-envelope"><wst:RequestSecurityTokenResponse
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust"><wst:TokenType>urn:passport:compact</wst:TokenType><wsp:AppliesTo><wsa:EndpointReference
        xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Address>https://asantiagounicef.sharepoint.com/sites/GLB-DRP</wsa:Address></wsa:EndpointReference></wsp:AppliesTo><wst:Lifetime><wsu:Created>2019-12-10T22:30:40Z</wsu:Created><wsu:Expires>2019-12-11T06:30:40Z</wsu:Expires></wst:Lifetime><wst:RequestedSecurityToken><wsse:BinarySecurityToken
        Id="Compact0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">t=EwDwAk6hBwAUoI9qUOm+nWxx1GEBzUSgrucLnssAAWRJEqX3PP1+ganvcmXokcDaeMPKfJkhVeYH8kw/dS8+Ta7g/teckmsWousPjUrW1k8L/PmsNOelS45cr2Ikc7l6O5rJNobDGwnRWMnY0mL1EKWnmCbc9gtRztE2R/KHoZNCHUDJ83kVOpjSxhKm6BGzOPKs7lmlY/5b4vaHDSVBvMSPOBZj6zvWdtyrOvARrUd6cGfQHchiQsVkxDEGY8K3aeXkL804hgepQcbT5BgfjCNxtPeVLwLT/A9HjAqjSqGI3Veiwg7wMTQ8BOws6DpGM60abH60X4bbavuIRJ8NEe3IN5sV3Da5xhv47a5rYeg5g6HifJRn1tNurLFtwgcDZgAACMceud5hr+owwAEpPFCtthVFrIGh7WU6UkInYtNejzSu+DDLhrh+Lbg7YCYSy807/85pxKwapF8viwk/X60SQMCKhoXHjk5WVbpWQEN4IR/nULAR4vvudS8WaxINQHzJ+oTyN4L7d2WMxQWTUKtc++FMZvnAkwY7VBZb1N4MAXJwHR+ghuvwpWtVkLlluY4lh2lVG/efSzSFLksiL9wgGl0C9U8vGtK0kupz7Anv0aVwdPEZyesyUQjTdsUTYZvel41HTY2V38Sh/ZkwNXuzjmCaExh9a2Wuv6mYig6VSBLWADcx0rD9Mgb1ZlxrpY0y20Y1LLr99tdKNikaPscVJhOF807dX5LHLRh+xmT/PD7qEwEooRHJ1ikHzFbRUIdZza019x8opEGKq5LYUDUSwE2qMxt+SHU7ah6XqOpIWljFbqaQjw4FYANm4BygGWRcnPo3T2wCumwJB85YnWvwYO477Q7VRL51rBwGR5CzyUo2sIksjhbGLXYjzsDxMLPBF6Ln1tScdio6j0NUiZSGosHndK5gkyGAclw/Ecx2zttKWTluy6Dj0mC/pD5sHusDDXgW+uBlMhOqfWbZYPAU6OdaaXLkpOSBvhNQPAI=&amp;p=</wsse:BinarySecurityToken></wst:RequestedSecurityToken><wst:RequestedAttachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="tGRgb7jMbXVG+a3RpFo4bSJC52g="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedAttachedReference><wst:RequestedUnattachedReference><wsse:SecurityTokenReference
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:Reference
        URI="tGRgb7jMbXVG+a3RpFo4bSJC52g="></wsse:Reference></wsse:SecurityTokenReference></wst:RequestedUnattachedReference></wst:RequestSecurityTokenResponse></S:Body></S:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: t=EwDwAk6hBwAUoI9qUOm+nWxx1GEBzUSgrucLnssAAWRJEqX3PP1+ganvcmXokcDaeMPKfJkhVeYH8kw/dS8+Ta7g/teckmsWousPjUrW1k8L/PmsNOelS45cr2Ikc7l6O5rJNobDGwnRWMnY0mL1EKWnmCbc9gtRztE2R/KHoZNCHUDJ83kVOpjSxhKm6BGzOPKs7lmlY/5b4vaHDSVBvMSPOBZj6zvWdtyrOvARrUd6cGfQHchiQsVkxDEGY8K3aeXkL804hgepQcbT5BgfjCNxtPeVLwLT/A9HjAqjSqGI3Veiwg7wMTQ8BOws6DpGM60abH60X4bbavuIRJ8NEe3IN5sV3Da5xhv47a5rYeg5g6HifJRn1tNurLFtwgcDZgAACMceud5hr+owwAEpPFCtthVFrIGh7WU6UkInYtNejzSu+DDLhrh+Lbg7YCYSy807/85pxKwapF8viwk/X60SQMCKhoXHjk5WVbpWQEN4IR/nULAR4vvudS8WaxINQHzJ+oTyN4L7d2WMxQWTUKtc++FMZvnAkwY7VBZb1N4MAXJwHR+ghuvwpWtVkLlluY4lh2lVG/efSzSFLksiL9wgGl0C9U8vGtK0kupz7Anv0aVwdPEZyesyUQjTdsUTYZvel41HTY2V38Sh/ZkwNXuzjmCaExh9a2Wuv6mYig6VSBLWADcx0rD9Mgb1ZlxrpY0y20Y1LLr99tdKNikaPscVJhOF807dX5LHLRh+xmT/PD7qEwEooRHJ1ikHzFbRUIdZza019x8opEGKq5LYUDUSwE2qMxt+SHU7ah6XqOpIWljFbqaQjw4FYANm4BygGWRcnPo3T2wCumwJB85YnWvwYO477Q7VRL51rBwGR5CzyUo2sIksjhbGLXYjzsDxMLPBF6Ln1tScdio6j0NUiZSGosHndK5gkyGAclw/Ecx2zttKWTluy6Dj0mC/pD5sHusDDXgW+uBlMhOqfWbZYPAU6OdaaXLkpOSBvhNQPAI=&p=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://asantiagounicef.sharepoint.com/_forms/default.aspx?wa=wsignin1.0
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/\">here</a>.</h2>\r\n</body></html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /
      MS-CV:
      - nyBByENQAABNPdEcoB7CUg.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.19520
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '113'
      SPRequestGuid:
      - c841209f-5043-0000-4d3d-d11ca01ec252
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '2'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://asantiagounicef.sharepoint.com/
  response:
    body:
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object\
        \ moved to <a href=\"/SitePages/DevHome.aspx\">here</a>.</h2>\r\n</body></html>\r\
        \n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /SitePages/DevHome.aspx
      MS-CV:
      - nyBByFZwAABEpXUkYWDz2w.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.19520
      SPIisLatency:
      - '0'
      SPRequestDuration:
      - '401'
      SPRequestGuid:
      - c841209f-7056-0000-44a5-75246160f3db
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SharePointHealthScore:
      - '3'
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://asantiagounicef.sharepoint.com/SitePages/DevHome.aspx
  response:
    body:
      string: "\r\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\"\r\n\t\
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n<html dir=\"ltr\"\
        \ class=\"ms-isBot\" lang=\"en-US\">\r\n<head><meta name=\"GENERATOR\" content=\"\
        Microsoft SharePoint\" /><meta http-equiv=\"Content-type\" content=\"text/html;\
        \ charset=utf-8\" /><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"\
        /><script type='text/javascript'>var _browserisFlight = true;</script><meta\
        \ http-equiv=\"Expires\" content=\"0\" /><meta name=\"msapplication-TileImage\"\
        \ content=\"/_layouts/15/images/SharePointMetroAppTile.png\" /><meta name=\"\
        msapplication-TileColor\" content=\"#0072C6\" /><title>\r\n\t\r\n\tasantiagounicef\
        \ Team Site - DevHome\r\n\r\n</title><link rel=\"shortcut icon\" href=\"/_layouts/15/images/favicon.ico?rev=47\"\
        \ type=\"image/vnd.microsoft.icon\" id=\"favicon\" /><link id=\"CssLink-15a258597f364be88fc0b97fd7963d9a\"\
        \ rel=\"stylesheet\" type=\"text/css\" href=\"/_layouts/15/1033/styles/Themable/corev15.css?rev=P6NRu3UNJNaveYjlzORD2Q%3D%3DTAG367\"\
        />\n<style id=\"SPThemeHideForms\" type=\"text/css\">body {opacity:0 !important}</style><script\
        \ type=\"text/javascript\">// <![CDATA[ \n\r\nvar _initGlobalSnapShot = {};try\
        \ {    if (Object.keys(_initGlobalSnapShot).length == 0) {       for (var\
        \ memberIndex in window) {          if (Boolean(memberIndex)) {          \
        \    _initGlobalSnapShot[memberIndex] = 1;         }      }   }} catch (ex)\
        \ {};\r\n// ]]>\r\n</script>\r\n<script type=\"text/javascript\">// <![CDATA[\
        \ \n\r\nvar g_SPOffSwitches={\"8E057522-42B1-4B6F-9B50-B5090E6E7633\":1,\"\
        20A02119-EE30-4A87-8FDB-A31DE27A4E52\":1,\"A046D4EA-D445-4426-8A94-F3F738D91D8E\"\
        :1,\"E9789901-37C3-4134-83D8-AA76385710B5\":1,\"B799CB70-1E04-46DB-A429-B3495CF6E9D6\"\
        :1,\"6F740AD5-47AA-451D-B9B6-05BA306B32ED\":1,\"100E20CE-9C2F-4E00-9308-4071348BD723\"\
        :1,\"411F7EF9-C165-45DB-B054-7A4692612643\":1,\"A8E3EF67-B9EB-4A49-9D9C-4C451ED7607F\"\
        :1,\"A3FC13AA-5DE2-4A0E-ACD8-A81E23EBA917\":1,\"D20FE699-A03B-4FBC-8392-A84FB17788EA\"\
        :1,\"4FE0344A-6F84-494B-AB80-CDA687905D53\":1,\"72F57673-BF75-44BB-8049-CC8A79B020E7\"\
        :1,\"D0B933D0-A3AB-478D-AF0E-9A9BDDC0E250\":1,\"FCA58864-3303-4AE8-A441-F0BC1A390284\"\
        :1,\"FCAEC82E-A42F-456C-AB93-E6A3C4024CB3\":1,\"0A89A18D-3A4E-40E0-8D65-ABDC1321E7D6\"\
        :1,\"0BD6A981-7F6B-48E8-B58F-5FD4A7070B2C\":1,\"F014A7C0-AECA-4029-BAA7-DC29D6EF4142\"\
        :1,\"55F23D33-4558-4A46-92DD-35431CADFA9B\":1,\"1930108A-8C81-4FC0-80E5-44CA4FDF121B\"\
        :1,\"2F8CBABD-B66E-4B7D-988C-453ACAB30803\":1,\"07334176-78E7-43D9-8A21-1D1EEF87DD7A\"\
        :1,\"7EAE0ACA-6D4A-4DC4-892B-758C5AD9A2FC\":1,\"AEA74ECD-C8C0-40ED-881B-1968D8710463\"\
        :1,\"888DB08E-A1A7-4B25-845F-F43616909C6A\":1,\"9F994CC1-E596-44B3-988C-0D552DB86AE8\"\
        :1,\"644C9F8F-2415-4F43-8F91-8711E58242CC\":1,\"8B245EE3-19A7-4EFC-B638-CB908C3F95F2\"\
        :1,\"EB885073-66E0-40EE-A72C-6831469951DB\":1,\"1E0CCFED-1974-4E44-AC92-9449C222E4A0\"\
        :1,\"03C3F8BF-1C2C-4490-BB63-E443CAF66F8A\":1,\"63702B36-D1BC-492C-95AF-026F990FD0DE\"\
        :1,\"30827A13-8F1C-47E4-A6D2-402E17956949\":1,\"1A465267-DB66-4B0A-92D3-E0FCB9BCAAA7\"\
        :1,\"36A5FC94-6ECF-435A-ABE5-671F47946EE8\":1,\"DC63311B-6DAB-4377-8ADD-6CFCD044B8F5\"\
        :1,\"9EE432C5-F3C3-462E-91A7-9364E9ACD4B0\":1,\"25652E85-1113-4786-AD61-568E75D5F224\"\
        :1,\"176CF905-09A3-4921-8E4F-BE536AEE2EE0\":1,\"2BDA1437-643E-4FA3-83D8-924B47AF4377\"\
        :1,\"E3A95ED9-A209-41E1-851B-CFDFA531CC72\":1,\"11E472C5-31F5-4FD3-9ED6-037A12A736CC\"\
        :1,\"395055AC-8599-4D74-A936-34D686333D03\":1,\"92CE82BC-BA2E-4D44-AAA6-A30EF36653C7\"\
        :1,\"C02E92D9-A794-4776-8079-6CE5367EDB73\":1,\"6CAB3596-FD36-4B50-A353-DA21C000F76E\"\
        :1,\"BB568AF1-FECB-45AE-8035-6F4E1163489B\":1,\"EF211C1F-02EE-4DF7-8B7C-005A594FE1DD\"\
        :1,\"1BD03AD4-7195-4F1A-99CB-C59E6D234879\":1,\"C84D265E-161F-4663-9CDA-1411BC82384D\"\
        :1,\"1391A96B-7AEB-4878-8581-E6DF5CC644CF\":1,\"76C4DADF-7FBE-4007-B931-DDA541DD7E24\"\
        :1,\"2CCECF8E-CE9F-4D8C-AA84-38761A1486F9\":1,\"8C282E36-1485-4AAF-A2E7-48D358CB3649\"\
        :1,\"80E579E4-FAC5-43CA-BEE9-C95A39ABB674\":1,\"12C77157-EE11-4B2E-9260-AE282FC9B0CB\"\
        :1,\"4FF50FD4-CFCE-41DC-97B9-9D1DBA1B241F\":1,\"0F965900-B322-42DA-AA29-E0EBDFD045A5\"\
        :1,\"D6EACE9F-21A7-42DB-BBF7-6928CC41EC43\":1,\"4BCCE1D5-9E97-46A4-9E80-F44C2B0252B6\"\
        :1,\"00DF68DF-E386-4220-9719-C4247403ACC0\":1,\"F78B580F-A5B6-41AF-B42D-8AD8193F5208\"\
        :1,\"AEA2E1AA-3BB7-4F18-879A-E10F7CAE0328\":1,\"0111401E-2388-43FB-8B46-42A0FDD1AF3A\"\
        :1,\"925090C8-8AA6-4C6A-8BFE-1EF2E43038F0\":1,\"FF87249F-F4AD-4B05-9BA4-53AA1D50BE34\"\
        :1,\"AE78C1A6-ABF1-458E-AFB0-B3C90ADDAC24\":1,\"D6F32D6D-92DE-42B0-A77B-4087E73FF4C2\"\
        :1,\"21DB8E4A-9B71-475B-9C50-D9EDCD466563\":1,\"FA526978-C583-4A1E-A5E1-CCFD2865226F\"\
        :1,\"FD8639CE-8356-42E8-93C6-52FA8B2E107E\":1,\"0D982733-466B-4C3B-95D4-FA6DEB9C8F37\"\
        :1,\"4F21995E-BFE8-4A12-9847-4B2C6B1C9DC9\":1,\"F2171C72-63BC-4E73-83CC-CB5308EA9BCE\"\
        :1,\"379CD72A-5A94-4AE0-9E52-042C3D59ACA8\":1,\"369E10F7-E2CE-4310-9AF5-DFB3E1D7BD95\"\
        :1,\"6BB9EC49-4379-4278-BBD0-07DC05277792\":1,\"8BBAE817-2447-4787-B296-2DB23BBA6A9A\"\
        :1,\"033A2586-60C0-46D9-8D3B-7CD0A562889B\":1,\"5A7E8336-97C9-4EEA-945D-F46057EC265D\"\
        :1,\"0AE1F13D-7540-4FB1-869F-59D73ED63C76\":1,\"A3A3EEAA-247A-4557-ABA6-E3BBAC844F09\"\
        :1,\"1560A0A5-311A-466B-A394-F10093E082D0\":1,\"9C31D626-C5B9-4EF8-83AA-7C94132846F0\"\
        :1,\"E4916FB8-E95C-449C-B3F6-603AA3695867\":1,\"A9F593E2-4A8F-420F-9352-67DC153CA031\"\
        :1,\"B0C82CE3-36F4-4D8A-9452-134180591DE3\":1,\"2D7FA078-C9F5-4E5C-98B0-085EAE1C0690\"\
        :1,\"5FF1FAEB-A837-4E94-8A12-DCD37F87F8C8\":1,\"B99D6903-4835-41CA-B101-130639B98A78\"\
        :1,\"9ED5AEC6-A48F-45F6-8AC3-18C5194C6092\":1,\"D77378FF-917D-44CF-A980-0EAF478E6464\"\
        :1,\"69E23215-1C6B-45AE-B498-915B2900A28E\":1,\"08AB6E8C-F88B-4CB5-B84F-8393F07EA145\"\
        :1,\"6961F15C-5EF7-4BF4-AE70-701D3ABEC21C\":1,\"8E25343B-F5DF-4E3E-9062-1F0C9E9FDF9B\"\
        :1,\"D679B1B9-892D-4F73-AD75-51BC7AE495D0\":1,\"D0628454-E65F-40E7-A806-2D80FD529383\"\
        :1,\"81D149E2-0FEB-41E9-ADCC-DF83C2356D06\":1,\"29E1CCAA-1A0F-4772-9C40-2E1F39D75C6C\"\
        :1,\"CB1858D4-9D30-414A-B12E-F66476B90BC7\":1,\"60667AAA-9A50-4DD0-95E4-3FC38E9F2815\"\
        :1,\"96C5488B-0019-471F-A88B-9174A6B501B0\":1,\"65CAD40B-BD91-4482-8CE8-914A9E91FBF2\"\
        :1,\"8DAEFF70-CBAE-4FAF-B84C-044CF1670FAE\":1,\"9CA312BF-A1EF-4749-AA96-5C3C42FFC0E7\"\
        :1,\"2B25A461-4ADE-467B-82DF-D5583FCA87BD\":1,\"1B7D9806-CE5D-4496-A984-E6EC6840CE82\"\
        :1,\"F974801B-21EA-423C-BFD8-D1BBF44BC796\":1,\"E15D451C-709D-4D3B-86C7-B630734E3A7B\"\
        :1,\"4BE223EF-143C-45A8-A791-E5B17E357F96\":1,\"1BF67675-0337-4A7E-AA11-7444B5D44F18\"\
        :1,\"FBBF5EEF-B958-4EB8-9EEE-8535163A8F27\":1,\"97B9DB96-E5DD-4B58-9A75-B0E4B79280ED\"\
        :1,\"C9B07F85-CA87-4B1B-AB3E-9DDB5BD35738\":1,\"BFCF52AC-EB2B-4A43-AB90-576D28296707\"\
        :1,\"A16ADCAA-BDAF-4DF2-A9AE-74C959301F79\":1,\"4E30B75D-907E-4C1F-86CE-ACC0D1B6B14B\"\
        :1,\"FBE65E5B-6E06-4B99-9494-2142A2FBA11B\":1,\"4600C3C6-36DE-494A-B081-34C79D8071C0\"\
        :1,\"9855FFF8-4366-463E-BB7A-DF818C62992D\":1,\"B4A009BA-2B46-4258-B848-65C834FA1637\"\
        :1,\"92BC9121-E6B1-4D96-A277-BA39B85CC558\":1,\"E37972FB-8B68-474E-A809-616002FE1FFD\"\
        :1,\"A7918383-CFAE-42CB-B660-E7717CBD7DA6\":1,\"197381A1-43D8-407D-8871-907D3FA7922B\"\
        :1,\"18110EB8-1E6D-40A1-B167-33482218D5EF\":1,\"28F3604F-7242-48BF-BD6B-663C8D07A364\"\
        :1,\"A15CA32D-EAE6-4C50-9A49-04A362F4E855\":1,\"8D7DE8AE-F3EC-4564-ADE2-8EB15F0DD391\"\
        :1,\"682D97B2-A81C-45D8-AECB-EBE382BB0E6A\":1,\"2E0CD78E-663F-4803-A340-F24D2BFEFA8E\"\
        :1,\"9058F4D5-FA5A-44FD-BA2E-84A10987E2FD\":1,\"F089756D-01AF-45D0-B6EA-24C76BD0A06C\"\
        :1,\"0FB423F0-0261-4D61-ACCE-C330624CE536\":1,\"913CEFFF-309C-4DEE-BBCD-A6B1918E419C\"\
        :1,\"803FACDB-FB25-4FBA-82D1-819E18B8477B\":1,\"F475637C-FCBE-40FA-BC92-D2D9798A611B\"\
        :1,\"2CB2BC6C-6ECE-4156-B1EB-55CA8C9B81EA\":1,\"AAAEE34D-DFEE-45C2-9085-EB730AD35EE7\"\
        :1,\"3487BA96-793D-453F-AA6E-5252E0D81ED6\":1,\"80F2E241-EED0-4E06-A55C-45D1844DC9A9\"\
        :1,\"9292D136-533C-4871-A7A2-FE3AD6BAA7A0\":1,\"4BCD8F2C-B63C-4E7B-8FBF-579092567170\"\
        :1,\"8FDCDEC1-9A21-4720-B083-92DC52440783\":1,\"2BC73EA5-E788-4449-A093-E3431DF302CA\"\
        :1,\"1BF2CD4B-502E-4C5D-8561-10B598572D9A\":1,\"22FD03A7-912E-4CA1-AD16-1421E85A5391\"\
        :1,\"703E63BB-48BD-4891-B88B-EC71C64B997E\":1,\"8ABCA8E6-C976-40BF-A2AA-155E73390601\"\
        :1,\"7BC9D93D-46F2-4FAA-A26A-BE67CFB5A8A2\":1,\"761DAE33-801E-4D39-951B-973104D4D75F\"\
        :1,\"6AAFF384-F587-446A-B0D0-1455A72BDBF3\":1,\"A07D611B-E450-4203-AB53-3CA5900B0268\"\
        :1,\"7A8FB8F8-26F0-466A-82AE-D5225C8E8969\":1,\"70711F0E-688C-4BA9-A843-C3B84DB630DF\"\
        :1,\"B783FBE2-5F13-4257-8040-353A43B47C23\":1,\"B887B83F-2C90-4A2C-929F-4134FAB51769\"\
        :1,\"DC9B06D2-9315-445F-89D5-E03DB2BB574B\":1,\"53280EE0-4C89-4752-B9E1-1D079C6D70B3\"\
        :1,\"CF7FDE8C-E861-4154-B123-7710617CF597\":1,\"7AC1140A-586F-4012-BA8C-27ACBDF3C7D4\"\
        :1,\"4C95B62B-7146-464E-A5D7-355C380081F0\":1};\r\n// ]]>\r\n</script>\r\n\
        <script type=\"text/javascript\" src=\"https://static.sharepointonline.com/bld/_layouts/15/16.0.19520.12024/1033/initstrings.js\"\
        ></script>\n<script type=\"text/javascript\" src=\"https://static.sharepointonline.com/bld/_layouts/15/16.0.19520.12024/init.js\"\
        ></script>\n<script type=\"text/javascript\" src=\"https://static.sharepointonline.com/bld/_layouts/15/16.0.19520.12024/theming.js\"\
        ></script>\n<script type=\"text/javascript\" src=\"https://static.sharepointonline.com/bld/_layouts/15/16.0.19520.12024//online/scripts/sposuitenav.js\"\
        ></script>\n<script type=\"text/javascript\" src=\"/ScriptResource.axd?d=D4gX3Y0t4tgnah-c940VIXBK3lO-fHlTasFY2FxKGOaPkWTife6ThHR6W-DE5oksm90qP1ueAgudg3GS5DqT3qM0L9EWN_ZHkNBrGtE38oSHKnDgJmcJgtlkVUmJZLbs0DFwfB5-HudqGqWQQMFJJE7NfypgRvkABRsbTAQOpLRIRq3P9d-DPdVkjBVUvSp30&amp;t=ffffffffa580202a\"\
        ></script>\n<script type=\"text/javascript\" src=\"https://static.sharepointonline.com/bld/_layouts/15/16.0.19520.12024/blank.js\"\
        ></script>\n<script type=\"text/javascript\">RegisterSod(\"require.js\", \"\
        https:\\u002f\\u002fstatic.sharepointonline.com\\u002fbld\\u002f_layouts\\\
        u002f15\\u002f16.0.19520.12024\\u002frequire.js\");</script>\n<script type=\"\
        text/javascript\">RegisterSod(\"strings.js\", \"https:\\u002f\\u002fstatic.sharepointonline.com\\\
        u002fbld\\u002f_layouts\\u002f15\\u002f16.0.19520.12024\\u002f1033\\u002fstrings.js\"\
        );</script>\n<script type=\"text/javascript\">RegisterSod(\"sp.res.resx\"\
        , \"https:\\u002f\\u002fstatic.sharepointonline.co[...]
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: GET
    uri: https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/items?$filter=DonorCode%20eq%20'G02701'
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"3f06e4b6-b5a1-4e17-a417-f6699bad39d6","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)","etag":"\"2\"","type":"SP.Data.2019_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/FirstUniqueAncestorSecurableObject"}},"RoleAssignments":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/RoleAssignments"}},"AttachmentFiles":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/AttachmentFiles"}},"ContentType":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/ContentType"}},"GetDlpPolicyTip":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/GetDlpPolicyTip"}},"FieldValuesAsHtml":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/FieldValuesAsHtml"}},"FieldValuesAsText":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/FieldValuesAsText"}},"FieldValuesForEdit":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/FieldValuesForEdit"}},"File":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/File"}},"Folder":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/Folder"}},"LikedByInformation":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/LikedByInformation"}},"ParentList":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/ParentList"}},"Properties":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/Properties"}},"Versions":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/Versions"}},"FileSystemObjectType":0,"Id":3,"ServerRedirectedEmbedUri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={ec14d186-8372-4e9e-9721-a59b630711ad}&action=interactivepreview","ServerRedirectedEmbedUrl":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={ec14d186-8372-4e9e-9721-a59b630711ad}&action=interactivepreview","ContentTypeId":"0x010100BD0F1B23762B434897E97809DE94ABDD00866516ECEF8C5A4B95B105F4971598AA0026266A664C5D0749B9F2C0B452AE7A2B","ComplianceAssetId":null,"Title":"DFAMDash
        Certified Statement of Account.rdl","OData__dlc_DocId":"RPRFA3H2TPK5-441505184-3","OData__dlc_DocIdUrl":{"__metadata":{"type":"SP.FieldUrlValue"},"Description":"RPRFA3H2TPK5-441505184-3","Url":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_layouts/15/DocIdRedir.aspx?ID=RPRFA3H2TPK5-441505184-3"},"DocumentType":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"3","TermGuid":"8a295864-13e9-49e6-bf2c-b141ea31441a","WssId":3},"Topic":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[{"Label":"n/a","TermGuid":"5fa4f369-8a17-4c36-ad7f-f4892b75679a","WssId":17}]},"WrittenById":null,"WrittenByStringId":null,"ContentLanguage":"English","CategoryDescription":null,"OfficeDivision":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"5","TermGuid":"5aaf3341-1695-4e9f-8424-49121c99845d","WssId":5},"ContentStatus":null,"Theme":null,"Recertified":null,"DonorDocument":null,"ReportMethod":null,"ReportGroup":"Grant","GrantFinancialClosureDate":"2016-12-31T05:00:00Z","GrantExpiryDate":"2015-12-31T05:00:00Z","ReportType":"Final","ExternalReference":"AGREEMENT
        61358","ReportEndDate":"2018-12-31T05:00:00Z","GrantIssueYear":"2011","GrantNumber":"SC110743","Donor":"Australia","DonorReportCategory":"Donor
        Financial Certified","ReportStatus":"New","RecipientOffice":"ESAR Regional
        Office, WCAR Regional Office, Afghanistan, Analysis,Planning & Monitoring,
        Central African Republic, Chad, Iraq, Palestine, State of, Philippines, Programme
        Division, South Sudan","ReportGeneratedBy":null,"RecipientOfficeCode":null,"GeographicScope":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"DonorCode":"G02701","TaxKeyword":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ID":3,"Created":"2019-10-24T22:02:22Z","AuthorId":6,"Modified":"2019-11-26T20:06:30Z","EditorId":22,"OData__CopySource":null,"CheckoutUserId":null,"OData__UIVersionString":"2.0","GUID":"71cfb13e-28b4-497d-af2f-1cea6c0a5dee"}]}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Tue, 10 Dec 2019 22:30:48 GMT
      MS-CV:
      - nyBByMRAAABHW6AtkCOUTA.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.19520
      SPClientServiceRequestDuration:
      - '1016'
      SPRequestGuid:
      - c841209f-40c4-0000-475b-a02d9023944c
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '2'
    status:
      code: 200
      message: OK
version: 1
