interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: POST
    uri: https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/contextinfo
  response:
    body:
      string: '{"d":{"GetContextWebInformation":{"__metadata":{"type":"SP.ContextWebInformation"},"FormDigestTimeoutSeconds":1800,"FormDigestValue":"0x98424929F32A42084E5A633BEA57A123093E29EB975CB3448C6F8FD495230F669E05F194971B66989518648F3BA5E3CB44677DE814F3B3B1FF9315A4682EE17F,03
        Dec 2019 17:16:13 -0000","LibraryVersion":"16.0.19520.12017","SiteFullUrl":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP","SupportedSchemaVersions":{"__metadata":{"type":"Collection(Edm.String)"},"results":["14.0.0.0","15.0.0.0"]},"WebFullUrl":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP"}}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Tue, 03 Dec 2019 17:16:13 GMT
      MS-CV:
      - nx3vAFfgAABHYi8z3yvTCQ.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.19520
      SPClientServiceRequestDuration:
      - '14'
      SPRequestGuid:
      - 00ef1d9f-e057-0000-4762-2f33df2bd309
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: '{"query": {"ViewXml": "<View><Query><Where></Where></Query></View>", "__metadata":
      {"type": "SP.CamlQuery"}}}'
    headers:
      X-RequestDigest:
      - 0x98424929F32A42084E5A633BEA57A123093E29EB975CB3448C6F8FD495230F669E05F194971B66989518648F3BA5E3CB44677DE814F3B3B1FF9315A4682EE17F,03
        Dec 2019 17:16:13 -0000
      content-type:
      - application/json;odata=verbose
    method: POST
    uri: https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/GetItems()
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"1ab03385-373e-4169-a7ef-b45651e37a2c","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)","etag":"\"2\"","type":"SP.Data.2019_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/FirstUniqueAncestorSecurableObject"}},"RoleAssignments":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/RoleAssignments"}},"AttachmentFiles":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/AttachmentFiles"}},"ContentType":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/ContentType"}},"GetDlpPolicyTip":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/GetDlpPolicyTip"}},"FieldValuesAsHtml":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/FieldValuesAsHtml"}},"FieldValuesAsText":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/FieldValuesAsText"}},"FieldValuesForEdit":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/FieldValuesForEdit"}},"File":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/File"}},"Folder":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/Folder"}},"LikedByInformation":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/LikedByInformation"}},"ParentList":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/ParentList"}},"Properties":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/Properties"}},"Versions":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/Versions"}},"FileSystemObjectType":0,"Id":2,"ServerRedirectedEmbedUri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={ee679c44-2575-4b91-88ae-6746e5b98056}&action=interactivepreview","ServerRedirectedEmbedUrl":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={ee679c44-2575-4b91-88ae-6746e5b98056}&action=interactivepreview","ContentTypeId":"0x010100BD0F1B23762B434897E97809DE94ABDD00866516ECEF8C5A4B95B105F4971598AA0026266A664C5D0749B9F2C0B452AE7A2B","ComplianceAssetId":null,"Title":"DFAMDash
        Certified Statement of Account EU ECHO.rdl","OData__dlc_DocId":"RPRFA3H2TPK5-441505184-2","OData__dlc_DocIdUrl":{"__metadata":{"type":"SP.FieldUrlValue"},"Description":"RPRFA3H2TPK5-441505184-2","Url":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_layouts/15/DocIdRedir.aspx?ID=RPRFA3H2TPK5-441505184-2"},"DocumentType":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Donor
        reports","TermGuid":"8a295864-13e9-49e6-bf2c-b141ea31441a","WssId":3},"Topic":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[{"Label":"n/a","TermGuid":"5fa4f369-8a17-4c36-ad7f-f4892b75679a","WssId":17},{"Label":"Not
        Programme related","TermGuid":"7ea9e502-b8a7-46bd-9d44-7fc46b4b19f2","WssId":165}]},"WrittenById":null,"WrittenByStringId":null,"ContentLanguage":"English","CategoryDescription":null,"OfficeDivision":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"Div.
        of Finance \uff06 Admin Mgmt-456J","TermGuid":"5aaf3341-1695-4e9f-8424-49121c99845d","WssId":5},"ContentStatus":null,"Theme":null,"Recertified":null,"DonorDocument":null,"ReportMethod":null,"ReportGroup":"Grant","GrantFinancialClosureDate":"2016-06-30T00:00:00","GrantExpiryDate":"2015-06-30T00:00:00","ReportType":"Final","ExternalReference":"2011
        / 245-030","ReportEndDate":"2018-12-31T00:00:00","GrantIssueYear":"2011","GrantNumber":"SC110091","Donor":"European
        Commission/EC","DonorReportCategory":"Donor Financial Certified","ReportStatus":"New","RecipientOffice":"Guinea
        Bissau","ReportGeneratedBy":null,"RecipientOfficeCode":null,"GeographicScope":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"DonorCode":null,"TaxKeyword":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ID":2,"Created":"2019-10-24T17:59:12","AuthorId":6,"Modified":"2019-11-18T06:27:32","EditorId":36,"OData__CopySource":null,"CheckoutUserId":null,"OData__UIVersionString":"2.0","GUID":"3e22479d-f4eb-4fa6-9ab1-4dd9d7d91596"},{"__metadata":{"id":"7929f9f3-e285-468d-92d4-dc3dfd66969e","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)","etag":"\"2\"","type":"SP.Data.2019_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/FirstUniqueAnces[...]
