interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: GET
    uri: https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/RootFolder
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019
        Certified Reports'')","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')","type":"SP.Folder"},"Files":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/Files"}},"ListItemAllFields":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/ListItemAllFields"}},"ParentFolder":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/ParentFolder"}},"Properties":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/Properties"}},"StorageMetrics":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/StorageMetrics"}},"Folders":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/Folders"}},"Exists":true,"IsWOPIEnabled":false,"ItemCount":15,"Name":"2019
        Certified Reports","ProgID":null,"ServerRelativeUrl":"/sites/GLB-DRP/2019
        Certified Reports","TimeCreated":"2019-10-31T19:24:54Z","TimeLastModified":"2019-11-26T16:35:57Z","UniqueId":"bb00e85f-1559-4ac8-9cf1-5e6d19718775","WelcomePage":""}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Tue, 03 Dec 2019 17:20:52 GMT
      MS-CV:
      - nx3vRH8AAABJfo8umaRN1Q.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.19520
      SPClientServiceRequestDuration:
      - '29'
      SPRequestGuid:
      - 44ef1d9f-007f-0000-497e-8f2e99a44dd5
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: GET
    uri: https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/RootFolder/Files?$filter=
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019
        Certified Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')","type":"SP.File"},"Author":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/Author"}},"CheckedOutByUser":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/CheckedOutByUser"}},"EffectiveInformationRightsManagementSettings":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/EffectiveInformationRightsManagementSettings"}},"InformationRightsManagementSettings":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/InformationRightsManagementSettings"}},"ListItemAllFields":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/ListItemAllFields"}},"LockedByUser":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/LockedByUser"}},"ModifiedBy":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/ModifiedBy"}},"Properties":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/Properties"}},"VersionEvents":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/VersionEvents"}},"Versions":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG'')/Versions"}},"CheckInComment":"","CheckOutType":2,"ContentTag":"{45BE09BE-44B7-41B6-AF76-191E6DBC28FB},3,2","CustomizedPageStatus":0,"ETag":"\"{45BE09BE-44B7-41B6-AF76-191E6DBC28FB},3\"","Exists":true,"IrmEnabled":false,"Length":"296021","Level":1,"LinkingUri":null,"LinkingUrl":"","MajorVersion":1,"MinorVersion":0,"Name":"FFR_AOT-G-00-00-00133-00_7112019.PNG","ServerRelativeUrl":"/sites/GLB-DRP/2019
        Certified Reports/FFR_AOT-G-00-00-00133-00_7112019.PNG","TimeCreated":"2019-11-07T21:33:58Z","TimeLastModified":"2019-11-07T21:43:33Z","Title":"FFR_AOT-G-00-00-00133-00_7112019","UIVersion":512,"UIVersionLabel":"1.0","UniqueId":"45be09be-44b7-41b6-af76-191e6dbc28fb"},{"__metadata":{"id":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019
        Certified Reports/JPOSummaryReport_African Development Bank_6112019.txt'')","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/JPOSummaryReport_African%20Development%20Bank_6112019.txt'')","[...]
