interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/RootFolder
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019
        Certified Reports'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')","type":"SP.Folder"},"Files":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/Files"}},"ListItemAllFields":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/ListItemAllFields"}},"ParentFolder":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/ParentFolder"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/Properties"}},"StorageMetrics":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/StorageMetrics"}},"Folders":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/Folders"}},"Exists":true,"IsWOPIEnabled":false,"ItemCount":220,"Name":"2019
        Certified Reports","ProgID":null,"ServerRelativeUrl":"/sites/GLB-DRP/2019
        Certified Reports","TimeCreated":"2019-12-31T07:35:43Z","TimeLastModified":"2020-01-28T14:47:45Z","UniqueId":"af62929a-71a5-46b8-8387-cc1700994684","WelcomePage":""}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Tue, 28 Jan 2020 20:22:52 GMT
      MS-CV:
      - ny//8HvwAKBZR8ebTjTjDg.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.19708
      SPClientServiceRequestDuration:
      - '18'
      SPRequestGuid:
      - f0ff2f9f-f07b-a000-5947-c79b4e34e30e
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: GET
    uri: https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/RootFolder/Files?$filter=
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019
        Certified Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')","type":"SP.File"},"Author":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/Author"}},"CheckedOutByUser":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/CheckedOutByUser"}},"EffectiveInformationRightsManagementSettings":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/EffectiveInformationRightsManagementSettings"}},"InformationRightsManagementSettings":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/InformationRightsManagementSettings"}},"ListItemAllFields":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/ListItemAllFields"}},"LockedByUser":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/LockedByUser"}},"ModifiedBy":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/ModifiedBy"}},"Properties":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/Properties"}},"VersionEvents":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/VersionEvents"}},"Versions":{"__deferred":{"uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf'')/Versions"}},"CheckInComment":"PowerShell
        Code checkedin","CheckOutType":2,"ContentTag":"{79E12F16-525B-4388-AF7F-0052528EEE25},3,1","CustomizedPageStatus":0,"ETag":"\"{79E12F16-525B-4388-AF7F-0052528EEE25},3\"","Exists":true,"IrmEnabled":false,"Length":"28875","Level":1,"LinkingUri":null,"LinkingUrl":"","MajorVersion":2,"MinorVersion":0,"Name":"CertifiedDonorStatement_CSACC_SC170513_31122019.pdf","ServerRelativeUrl":"/sites/GLB-DRP/2019
        Certified Reports/CertifiedDonorStatement_CSACC_SC170513_31122019.pdf","TimeCreated":"2020-01-27T20:18:47Z","TimeLastModified":"2020-01-27T20:18:48Z","Title":"CertifiedDonorStatement_CSACC_SC170513_31122019.pdf","UIVersion":1024,"UIVersionLabel":"2.0","UniqueId":"79e12f16-525b-4388-af7f-0052528eee25"},{"__metadata":{"id":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019
        Certified Reports/CertifiedDonorStatement_CSACC_SC170245_31122019.pdf'')","uri":"https://unitst.sharepoint.com/sites/GLB-DRP/_api/Web/GetFileByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports/CertifiedDonorStatement_CSACC_SC170245_31122019.pdf'')","type":"SP.File"},"Author":[...]
