interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: GET
    uri: https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/RootFolder
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019
        Certified Reports'')","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')","type":"SP.Folder"},"Files":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/Files"}},"ListItemAllFields":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/ListItemAllFields"}},"ParentFolder":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/ParentFolder"}},"Properties":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/Properties"}},"StorageMetrics":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/StorageMetrics"}},"Folders":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/2019%20Certified%20Reports'')/Folders"}},"Exists":true,"IsWOPIEnabled":false,"ItemCount":15,"Name":"2019
        Certified Reports","ProgID":null,"ServerRelativeUrl":"/sites/GLB-DRP/2019
        Certified Reports","TimeCreated":"2019-10-31T19:24:54Z","TimeLastModified":"2019-11-26T16:35:57Z","UniqueId":"bb00e85f-1559-4ac8-9cf1-5e6d19718775","WelcomePage":""}}'
    headers:
      Content-Type:
      - application/json;odata=verbose;charset=utf-8
      DATASERVICEVERSION:
      - '3.0'
      Last-Modified:
      - Tue, 03 Dec 2019 17:23:51 GMT
      MS-CV:
      - nx3vcCJgAABJfozzxTWUZw.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.19520
      SPClientServiceRequestDuration:
      - '25'
      SPRequestGuid:
      - 70ef1d9f-6022-0000-497e-8cf3c5359467
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SharePointHealthScore:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: GET
    uri: https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/folders
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/AppCatalog'')","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/AppCatalog'')","type":"SP.Folder"},"Files":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/GetFolderByServerRelativePath(decodedurl=''/sites/GLB-DRP/AppCatalog'')/Files"}},"ListIte[...]
