interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json;odata=verbose
    method: GET
    uri: https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/lists/GetByTitle('2019%20Certified%20Reports')/items?$filter=
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"6561ff17-6ae6-4f3d-8efe-90f3aa260936","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)","etag":"\"2\"","type":"SP.Data.2019_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/FirstUniqueAncestorSecurableObject"}},"RoleAssignments":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/RoleAssignments"}},"AttachmentFiles":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/AttachmentFiles"}},"ContentType":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/ContentType"}},"GetDlpPolicyTip":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/GetDlpPolicyTip"}},"FieldValuesAsHtml":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/FieldValuesAsHtml"}},"FieldValuesAsText":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/FieldValuesAsText"}},"FieldValuesForEdit":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/FieldValuesForEdit"}},"File":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/File"}},"Folder":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/Folder"}},"LikedByInformation":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/LikedByInformation"}},"ParentList":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/ParentList"}},"Properties":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/Properties"}},"Versions":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(2)/Versions"}},"FileSystemObjectType":0,"Id":2,"ServerRedirectedEmbedUri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={ee679c44-2575-4b91-88ae-6746e5b98056}&action=interactivepreview","ServerRedirectedEmbedUrl":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_layouts/15/WopiFrame.aspx?sourcedoc={ee679c44-2575-4b91-88ae-6746e5b98056}&action=interactivepreview","ContentTypeId":"0x010100BD0F1B23762B434897E97809DE94ABDD00866516ECEF8C5A4B95B105F4971598AA0026266A664C5D0749B9F2C0B452AE7A2B","ComplianceAssetId":null,"Title":"DFAMDash
        Certified Statement of Account EU ECHO.rdl","OData__dlc_DocId":"RPRFA3H2TPK5-441505184-2","OData__dlc_DocIdUrl":{"__metadata":{"type":"SP.FieldUrlValue"},"Description":"RPRFA3H2TPK5-441505184-2","Url":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_layouts/15/DocIdRedir.aspx?ID=RPRFA3H2TPK5-441505184-2"},"DocumentType":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"3","TermGuid":"8a295864-13e9-49e6-bf2c-b141ea31441a","WssId":3},"Topic":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[{"Label":"n/a","TermGuid":"5fa4f369-8a17-4c36-ad7f-f4892b75679a","WssId":17},{"Label":"Not
        Programme related","TermGuid":"7ea9e502-b8a7-46bd-9d44-7fc46b4b19f2","WssId":165}]},"WrittenById":null,"WrittenByStringId":null,"ContentLanguage":"English","CategoryDescription":null,"OfficeDivision":{"__metadata":{"type":"SP.Taxonomy.TaxonomyFieldValue"},"Label":"5","TermGuid":"5aaf3341-1695-4e9f-8424-49121c99845d","WssId":5},"ContentStatus":null,"Theme":null,"Recertified":null,"DonorDocument":null,"ReportMethod":null,"ReportGroup":"Grant","GrantFinancialClosureDate":"2016-06-30T04:00:00Z","GrantExpiryDate":"2015-06-30T04:00:00Z","ReportType":"Final","ExternalReference":"2011
        / 245-030","ReportEndDate":"2018-12-31T05:00:00Z","GrantIssueYear":"2011","GrantNumber":"SC110091","Donor":"European
        Commission/EC","DonorReportCategory":"Donor Financial Certified","ReportStatus":"New","RecipientOffice":"Guinea
        Bissau","ReportGeneratedBy":null,"RecipientOfficeCode":null,"GeographicScope":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"DonorCode":null,"TaxKeyword":{"__metadata":{"type":"Collection(SP.Taxonomy.TaxonomyFieldValue)"},"results":[]},"ID":2,"Created":"2019-10-24T21:59:12Z","AuthorId":6,"Modified":"2019-11-18T11:27:32Z","EditorId":36,"OData__CopySource":null,"CheckoutUserId":null,"OData__UIVersionString":"2.0","GUID":"3e22479d-f4eb-4fa6-9ab1-4dd9d7d91596"},{"__metadata":{"id":"e2b4de01-d04e-4ae0-9ecb-3f1ad04c9fa7","uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)","etag":"\"2\"","type":"SP.Data.2019_x0020_Certified_x0020_ReportsItem"},"FirstUniqueAncestorSecurableObject":{"__deferred":{"uri":"https://asantiagounicef.sharepoint.com/sites/GLB-DRP/_api/Web/Lists(guid''75303d68-6a00-4ce1-9453-94dc28aa6b35'')/Items(3)/FirstUniqueAnces[...]
